/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

$font-family: "Atkinson Hyperlegible", sans-serif;

$primary-color: #89c338;
$secondary-color: #1770b9;
$link-color: $secondary-color;
$hover-color: lighten($link-color, 10%);
$sidebar-bg: $primary-color;

/*-- scss:rules --*/

a{
  color: $link-color;
  text-decoration: none;

  &:hover{
    color: $hover-color;
    border-bottom: 1px solid $hover-color;
  }

}