/*-- scss:defaults --*/

// fonts
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');


$font-family-sans-serif: "Atkinson Hyperlegible", sans-serif;
$font-family-monospace: "Source Code Pro", monospace;

$primary-color: #68a514;
$secondary-color: #1770b9; 
$presentation-heading-color: $secondary-color;
$code-color: $primary-color;
$code-block-font-size: 0.7em;
$presentation-h2-font-size: 1.4em !default;
$presentation-font-size-root: 36px !default;

/*-- scss:rules --*/

details>summary {
  font-size: 0.75em;
}

#title-slide .title {
  color: $secondary-color;
}

#title-slide .subtitle {
  color: $secondary-color;
  font-weight: bold;
}

#title-slide .institute {
  padding-bottom: 200px;
}

#title-slide .quarto-title-author-name {
  color: lighten($body-color, 20%);
}

#title-slide .quarto-title-affiliation {
  color: lighten($body-color, 20%);
}

.small {
  font-size: 0.75em;
}

.smallest {
  font-size: 0.5em;
}

.large {
  font-size: 1.5em;
}

.medium {
  font-size: 0.9em;
}

.center-align {
  text-align: center;
}

.reveal .hand {
  font-family: 'Gochi Hand', cursive;
  font-size: 1.2em
}

.reveal .hand-blue {
  font-family: 'Gochi Hand', cursive;
  color: $primary-color;
  font-size: 1.2em
}

.reveal .hand-blue-large {
  font-family: 'Gochi Hand', cursive;
  color: $primary-color;
  font-size: 3em
}

.reveal .slide .task {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 6px;
  margin-top: 6px;
  border-left: solid 5px #123233;
  background-color: #CCDA5150;
}